th.basic {
	padding: .2em;
	text-align: center;
	font-weight: bold;
}

td.basic {
	padding: .2em;
}

.specialMessage {
	margin: 1em 0;
	padding: .5em 1em;
	color: maroon;
	width:100%;
	font-style: italic;
}

.tableFooterNote {
	margin-top: 1em;
	border: .1em silver solid;
	padding: .5em 1em;
	background-color: lightgray;
	color:black;
}

.formControlSection {
	margin: 1em 0;
	border: .1em silver solid;
	padding: .75em 1em;
	background-color: lightgray;
	white-space: nowrap;
}

button {
    font-size: 1.0em;
}


/*
.buttonX:hover {
	margin: 0 .5em;
	border: .15em outset PapayaWhip;
	-moz-border-radius: .75em;
	-webkit-border-radius: .75em;
	padding: .2em 1em;
	background-color: PapayaWhip;
	color: purple;
}

.buttonX {
	margin: 0 .5em;
	border: .15em outset red;
	-moz-border-radius: .75em;
	-webkit-border-radius: .75em;
	padding: .2em 1em;
	background-color: purple;
	color: PapayaWhip;
	font-weight:bold;
}
*/

