form.ncs input {
	border-width: 1px;
	border-color: #DDD;
	border-style: solid;
}

.todo {
	color: red;
	font-variant: small-caps;
}

.blackBorder {
	border-color: black;
	border-style: solid;
	border-width: thin;
}

.nowrap {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
}

.indent {
	padding-left: 2em;
}

.maroonBorder {
	border-color: #7A0019;
	border-style: solid;
	border-width: 2px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.25em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

.highlightRed {
	margin: auto;
	padding: .25em;
	border: black solid thin;
	background-color: crimson;
	text-align: center;
	font-weight: bold;
	color: white;
}

.pad {
	padding: 15px 0px 5px 15px;
}

p.padl {
	padding: 10px 0px 10px 25px;
}


.highlightYellow {
	margin: auto;
	padding: .25em;
	border: black solid thin;
	background-color: gold;
	text-align: center;
	font-weight: bold;
}

fieldset.maroonBorder legend {
	color: #FC3;
	font-weight: bold;
	background-color: #7A0019;
	border-color: #7A0019;
	border-style: solid;
	border-width: thin;
	padding: 0.2em;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
}

input[type='submit']:hover {
	background-color: #FC3;
}

legend {
	margin-left: 0.5em;
}

span.name {
	font-size: 1.1em;
	font-variant: small-caps;
	display: block;
	clear: both;
	text-decoration: underline;
}
span.show label {
	color:#654B24;
	font-variant: small-caps;
}
.itemMaroon {
	color: #7A0019;
	height: auto;
	width: auto;
	margin: 1em 0 0 1%;
	padding: 1% 0 3% 0;
	clear: both;
}

.item {
	height: auto;
	width: auto;
	margin: 1em 0 0 1%;
	padding: 1% 0 1% 0;
	clear: both;
}

.datapoint {
	display: inline;
	float: left;
	font-size: 95%;
}

table.batchList tbody {
	max-height: 10em;
	overflow-y: auto;
}

.container {
	margin: 2%;
	padding: 10px 20px 15px 20px;
	border: 1px solid #999999;
	background-color: #FFFFFF;
	width: 100%;
	font-size: 1.8em;
}

.dataitem {
	height: auto;
	width: auto;
	margin: 0 2em 0 2em;
	padding: 1px 0 1px 0;
	clear: both;
}

.datavalue {
	display: inline;
	float: left;
	font-size: 1.2em;
}

h1.batchReport {
	color: #000;
}

.w15 {
	width: 15%;
}

.w20 {
	width: 20%;
}

.w30 {
	width: 30%;
}

.w35 {
	width: 35%;
}

.w50 {
	width: 50%;
}

.w70 {
	width: 70%;
}

.w50l {
	width: 50%;
	text-align: left;
}

.w50r {
	width: 50%;
	text-align: right;
}

.mt1 {
	margin-top: 1em;
}

.bb1 {
	border-bottom: thin solid black;
}

.b {
	font-weight: bold;
}

.pr1 {
	padding-left: 0.5em;
}

m1 {
	margin-left: 0.5em;
}

#primaryInstrument {
	font-style: italic;
	font-weight: bold;
}

span.fixedFont {
	font-family: Courier, monospace;
}

span.barcode {
	font-family: Code39Eight, monospace;
}

.clear {
	clear: both;
}

.clearabove {
	line-height: 0;
	height: 0;
	font-size: 0;
	clear: both;
}  /* Use on a clearing element following a float */
a.csv {
	background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
	padding-left: 28px;
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;

	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	border-width: thin;
	border-style: solid;
}

dl.menu dd {
	padding: 0.5em;
}
.highlight-box {
	padding: 1.0em;
	margin: 2.0em 0;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	border-width: thin;
	border-style: solid;
	border-color: #7A0019;	
}
.highlight-box h2 {
	padding:0 0 0.8em 0;
	margin:0;
}
#auth_links {
	text-align: left;
	float: left;
	background-color: #fff;
	padding-right: 18px;
	line-height: 22px;
}

.letterheadBlock {
	font-style: italic;
	font-size: 0.8em;
	display: inline-block;
	vertical-align: top;
}

.logoutButton {
	background: url(../images/skin/logout.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.lookup {
	background: url(../images/magnifying-glass-gray_16x16.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}
/* MAIN PAGE */
.title-bar {
	background-color:#f6f6f6; /*#ffe264; /*#ffcc33;*/
	padding: 0.5em 0 1.3em 0;
}
.title-bar h1 {	
}
.container {
	float:left;
	border: 0;
	padding: 0;
	margin:0;
	background-color:#f6f6f6; /*#ffe264; /*#aaa;*/	
	padding-bottom: 0.8em;
}
.menu-box {
	float:left;
	width:320px;
}
.menu-box ul {
	list-style:none;
	padding:0;
}
.menu-box li {
	padding:0.4em 1.0em;
	color:#666; /*#8e62b1;*/
	font: 0.95em verdana, arial, sans-serif;
	/*border-bottom: 1px solid #ffef89;*/
	border-bottom: 1px solid #ddd;
	/*border-right:1px solid #ddd;*/
}
.menu-box li:hover {
	/*background:#ffcc33 url(../images/yellow-arrow_20x48.png) right center no-repeat; /*#ccc;*/
	background:#ddd url(../images/grey-arrow_20x48.png) right center no-repeat; /*#ccc;*/
	cursor:pointer;	
	color:#333; /*#795497;*/
}
.menu-box li.selected {
	/*background:#ffef89 url(../images/yellow-arrow_20x48.png) right center no-repeat;*/
	background:#fff url(../images/grey-arrow_20x48.png) right center no-repeat;
	/*background:#ffef89;*/
	color:#444; /*#532a74; /*#ac84cc;*/
	/*border-right:1px solid #fff;*/
}
.content-box {
	float:left;
	width:620px;
	min-height:340px;
	background-color:#fff; /*#ffef89; /*#ddd;*/
}
.content {
	padding:0.5em 1.0em;
	font-size: 0.8em;
	border-top: 1px solid #ddd;
}
.content h1 {
	font-size:1.0em;
}
.content a {
	color:#7a001e;
	font: 1.1em verdana, arial, sans-serif;
	font-weight:normal;
	border-bottom: 2px solid #ddd;	/*#ffef89;*/
}
.content a:hover {
	border-bottom: 2px solid #ffcc33;
}
.content a.image-link {
	/*border-bottom: 2px solid #ffef89;*/
	border-bottom: 2px solid #fff;
}	
.content a.image-link img {
	vertical-align:middle;
}
.menu dd {
	color:#444;
	font: 0.8em arial, sans-serif;
}
.top-border-light {
	/*border-top: 1px solid #ffef89;*/
	border-top: 1px solid #ddd;
}

ul.list li{
	list-style:none;
	background: url(../images/bullet.gif) left center no-repeat;
	padding: 2px 0 2px 12px;
	vertical-align: middle;
}

div.manageBatch {
	overflow:hidden;
	width:756px;
}

table.scroll tbody {
	display: block;
	height: 262px;
	overflow: auto;
	width: 756px;
}

table.scroll th {
	width: 200px;
	padding: 2px 6px;
}

table.scroll tr {
	display: block;
}

table.scroll td {
	width: 200px;
	border-bottom: none;
	border-left: none;
	
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 15px;	
}

.buttons input.create {
	background: url(../images/skin/database_add.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}
.buttons a.delete {
	background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons a.del {
	background-image: url(../images/skin/sorted_desc.gif);
}

.hidden {
	display:none;
}
div.pad-content {
	padding-left: 1.5em;
	padding-bottom: 1.0em;
}
div.dialog {
	width:100%;
}
div.eoi-header{
	padding:1.0em;
}