form.ncs input {
	border-width: 1px;
	border-color: #DDD;
	border-style: solid;
}

.todo {
	color:red;
    font-variant: small-caps;
}

.maroonBorder {
	border-color: #7A0019;
	border-style: solid;
	border-width: 2px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.25em;

    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;

}
.highlightRed {
	margin:auto;
	padding:.25em;
	border:black solid thin;
	background-color:crimson;
	text-align:center;
	font-weight:bold;
        color:white;
}
.highlightYellow {
	margin:auto;
	padding:.25em;
	border:black solid thin;
	background-color:gold;
	text-align:center;
	font-weight:bold;
}

fieldset.maroonBorder legend {
	color: #FC3;
	font-weight: bold;
	background-color: #7A0019;
	border-color: #7A0019;
	border-style: solid;
	border-width: thin;
	padding: 0.2em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}

input[type='submit']:hover {
	background-color: #FC3;
}

legend {
	margin-left: 0.5em;
}



span.name {
	font-size: 1.1em;
	font-variant: small-caps;
	display: block;
	clear:both;
	text-decoration: underline;
}

.itemMaroon {
    color: #7A0019;
    height: auto;
    width:auto;
    margin:1em 0 0 1%;
    padding: 1% 0 3% 0;
    clear: both;
}

.item {
    height: auto;
    width:auto;
    margin:1em 0 0 1%;
    padding:1% 0 1% 0;
    clear: both;
}
.datapoint {
    display:inline;
    float:left;
    font-size:95%;
}

table.batchList tbody {
    max-height: 10em;
    overflow-y: auto;
}

.container {
    margin:2%;
    padding:10px 20px 15px 20px;
    border:1px solid #999999;
    background-color:#FFFFFF;
    width:100%;
    font-size:1.8em;
}

.dataitem {
    height: auto;
    width:auto;
    margin:0 2em 0 2em;
    padding:1px 0 1px 0;
    clear: both;
}
.datavalue {
    display:inline;
    float:left;
    font-size: 1.2em;
    
}

h1.batchReport {
    color:#000;
}

.w30 {
    width:30%;
}

.w50 {
    width:50%;
}
.w20 {
    width:20%;
}

.w50l {
    width:50%;
    text-align:left;
}

.w50r {
    width:50%;
    text-align:right;
}

.b {
    font-weight:bold;
}

#primaryInstrument {
    font-style:italic;
    font-weight:bold;
}

.clear {clear:both;}

.clearabove {line-height:0;height:0;font-size:0;clear:both;} /* Use on a clearing element following a float */