form.ncs input {
	border-width: 1px;
	border-color: #DDD;
	border-style: solid;
}

.todo {
	color:red;
    font-variant: small-caps;
}

.group {
	border-color: #7A0019;
	border-style: solid;
	border-width: 2px;
}

p.dataItem {
	
}

span.name {
	font-size: 1.1em;
	font-variant: small-caps;
	display: block;
	clear:both;
	text-decoration: underline;
}