/*dialog*/
.ui-dialog {
	/*resets*/
        margin: 0px;
        padding: 0px;
        border: 0;
        outline: 0;
        line-height: 1.3;
        text-decoration: none;
        font-size: 100%;
        list-style: none;
	font-family: Verdana, Arial, sans-serif;
	background: #ffffff;
	color: #222222;
	border: 4px solid #d3d3d3;
	position: relative;
}
.ui-dialog-content {
	border: 1px solid #d3d3d3;
	background: #ffffff;
	color: #222222;
}

.ui-dialog-titlebar {
	/*resets*/
        margin:0px;
        padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	padding: .5em 1.5em .5em 1em;
	color: #ffcc33;
	background: #7a0019 url(../../lib/assets/img/bg-topnav.gif) 0 50% repeat-x;
	border-bottom: 1px solid #d3d3d3;
	font-size: 1.1em;
        font-weight:bold;
	position: relative;

}

div.batchList {
	max-height: 14em;
	overflow-y: scroll;
}
